[Unit]
Description=LEGACY: Run Docker Watch periodically (deprecated)

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
