[Unit]
Description=Run Docker Watch heartbeat daily

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
Unit=docker-watch-heartbeat.service

[Install]
WantedBy=timers.target
